/* INDEX  */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap%27');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* lo puse en dark mode, y qué? ~ cam*/

body {
    background-color: #222222;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.container article {
    width: 18%;
    height: 400px;
    border: 2px dashed red;
    margin: 2%;
    align-items: center;
}


/* --------------------------------------------------------------------- */


/* CSS DEL CARROUSEL  */


/* --------------------------------------------------------------------- */

.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: white;
    background-color: rgba(34, 34, 34, 0.5);
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.text:hover {
    color: #ff0000;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 12px 2px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #c11111;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 8px;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c11111;
}


/* --------------------------------------------------------------------- */


/* CARDS INDIVIDUALES */


/* --------------------------------------------------------------------- */


/* JOSU: card que gira al apoyarse encima */

section .flipcard-container {
    perspective: 1000px;
    border: none;
}

section .flipcard {
    position: relative;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/925/792/843/colors-colorful-abstract-rainbow-background-hd-wallpaper-preview.jpg");
    background-position: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

section .flipcard-container:hover .flipcard {
    transform: rotateY(180deg);
}

.flipcard h2,
.flipcard p {
    font-weight: bolder;
    margin: 0 1%;
}

.flipcard>div:nth-child(1),
.flipcard>div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipcard>div:nth-child(1) {
    width: 100%;
    height: 100%;
}

.flipcard>div:nth-child(1)>div,
.flipcard>div:nth-child(2)>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flipcard>div:nth-child(1)>div h2 {
    background-color: rgba(0, 0, 0, 0.45);
    padding: 0.5em;
    border-radius: 0.25rem;
}

.flipcard>div:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

.flipcard>div:nth-child(2)>div h2 {
    margin-bottom: 2rem;
    z-index: 5;
}

.flipcard>div:nth-child(2)>div p:nth-last-child(2) {
    z-index: 5;
}

.flipcard>div:nth-child(2)>div p:nth-last-child(1) {
    margin-top: 2rem;
    margin-left: 12rem;
    z-index: 5;
}

.flipcard>div:nth-child(2) {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}


/* TOMAS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
#maldonadoTomas {
    height: 400px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background: #222;
    position: relative;
    border: none;
}

#maldonadoTomas .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    transform: skewX(25deg) translate(30px, -50px);
    transform-style: preserve-3d;
    perspective: 1000px;
}

#maldonadoTomas .container div {
    width: 130px;
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    background: url(https://www.photos-public-domain.com/wp-content/uploads/2018/05/black-card-stock-paper-texture-600x450.jpg);
    transition: all 0.3s ease-in;
    z-index: 0;
    box-shadow: 1px 1px 1px black, 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#maldonadoTomas .container div p {
    font-family: 'Roboto', sans-serif;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: 400;
    color: darkcyan;
    transform: rotateY(180deg);
}

#maldonadoTomas .container div p.center {
    font-weight: 600;
}

#maldonadoTomas:hover .container div {
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

#maldonadoTomas .container div:hover {
    transform: rotateY(180deg) translate(-20px, -15px);
    box-shadow: 1px 1px 1px black, 20px 15px 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
}


/* Articulo de Guido*/

.Guido {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://i.pinimg.com/originals/86/b2/52/86b2521ebaa17c8a89f85609809bd9a6.webp');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
}

.Guido:hover {
    animation: pulsate-bck 0.5s ease-in-out infinite both;
}

.Guido div {
    background-color: rosybrown;
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/* Articulo de Flor A*/

.florA {
    background: url('https://c.tenor.com/2AQ2iBuWgtIAAAAC/jungkook-bts.gif');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    background-position: top;
    background-repeat: no-repeat;
    font-size: 13px;
    font-weight: bolder;
}


/* Artículo de Mariela ᓚᘏᗢ */

#Mariela_20 {
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    color: #ff4099;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    animation-name: mariela;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

#Mariela_20>p {
    font-size: 2rem;
}

#Mariela_20>p:hover {
    color: rgb(224, 72, 72);
    font-size: 2rem;
    margin-left: 0.5rem;
    animation-name: heartMariela;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes heartMariela {
    0%,
    50% {
        transform: scale(1.5);
        color: rgb(255, 73, 185)
    }
    25%,
    100% {
        transform: scale(1);
        color: rgb(224, 72, 72)
    }
}

@keyframes mariela {
    0% {
        background-image: url(./img/Mariela5.png);
        background-repeat: no-repeat;
    }
    20% {
        background-image: url(./img/Mariela1.png);
        background-repeat: no-repeat;
    }
    40% {
        background-image: url(./img/Mariela2.png);
        background-repeat: no-repeat;
    }
    60% {
        background-image: url(./img/Mariela3.png);
        background-repeat: no-repeat;
    }
    80% {
        background-image: url(./img/Mariela4.png);
        background-repeat: no-repeat;
    }
    100% {
        background-image: url(./img/Mariela5.png);
        background-repeat: no-repeat;
    }
}


/* ARTICULO DE LAURA  */

#Laura {
    position: relative;
    border: #C6EA35;
    border-style: dotted;
    height: 100%;
    padding: 10px;
    font-family: 'DotGothic16', sans-serif;
    color: #B9E53B;
    background-color: #FDFDF1;
    overflow: hidden;
}

#Laura img {
    width: 100%;
}

#Laura img:nth-child(3) {
    width: 80%;
    position: relative;
    bottom: 1.5rem;
    z-index: 10;
}

#Laura img:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
}

#Laura h4 {
    margin-top: 10px;
}


/*Articulo de Natali*/

.natali {
    background-image: url(./img/NataliCorrea.jpg);
    background-size: cover;
}

.natali p {
    color: #222222;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0.5rem;
    font-weight: 700;
}


/* Artículo de Angie arre*/

#angie {
    background-color: rgb(248, 195, 195);
    color: white;
    font-size: 1rem;
    text-align: center;
}

#angie i {
    color: red;
    font-size: 35px;
    padding: 0 15px;
    transition: all 1s;
}

#angie i:hover {
    font-size: 60px;
}


/* articulo de nani  */

#Nani {
    background-image: url('./img/fondoNani.jpg');
    background-size: cover;
    background-position-x: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Nani h2 {
    font-family: 'Gloria Hallelujah';
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(48 85 112);
    line-height: 2.5rem;
    width: 80%;
}

#Nani h2:hover::after {
    content: "Por la buena onda y las ganas de incentivarnos a seguir con Front!";
    font-size: 1rem;
    line-height: 0.1rem;
}

#Nani h2:hover::before {
    content: "Nani.";
    font-size: 1rem;
    line-height: 0.1rem;
    position: absolute;
    bottom: -2rem;
    right: 50%;
    transform: translate(50%, 0);
}


/* articulo flor diaz */

.flor-d {
    background-image: url('./img/flor-diaz.jpeg');
    background-size: cover;
    /* background-position: center; */
}

.flor-d h2 {
    margin: 0.5rem;
    font-weight: 700;
}


/* FLOR DH */

section .flipcard-container2 {
    perspective: 1000px;
    border: none;
}

section .flipcard2 {
    position: relative;
    background-color: white;
    color: black;
    border: none;
    object-fit: cover;
    font-size: 78%;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    padding: 1% !important;
}

section .flipcard-container2:hover .flipcard2 {
    transform: rotateY(180deg);
}

.flipcard2>div:nth-child(1),
.flipcard2>div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipcard2>div:nth-child(1) {
    width: 100%;
    height: 100%;
}

.flipcard2>div:nth-child(1)>div,
.flipcard2>div:nth-child(2)>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flipcard2>div:nth-child(1)>div h2 {
    padding: 0.5em;
    border-radius: 0.25rem;
}

.flipcard2>div:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flipcard2>div:nth-child(2)>div h2 {
    margin-bottom: 2rem;
    z-index: 5;
}

.flipcard2>div:nth-child(2)>div p:nth-last-child(2) {
    z-index: 5;
}

.flipcard2>div:nth-child(2)>div p:nth-last-child(1) {
    margin-top: 2rem;
    margin-left: 12rem;
    z-index: 5;
}

.flipcard2>div:nth-child(2) {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}


/* ****Card Farid Cure */

.card-farid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 150px 50px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.card-farid::after {
    content: "";
    background: linear-gradient(45deg, #ff0000 0%, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px);
    /*or z-index */
    animation: rgb 6s linear infinite;
}

@keyframes rgb {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.js-tilt-glare {
    border-radius: 18px;
}

.card-image {
    grid-area: image;
    background: url("img/farid.png");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 10px;
    transform: translateZ(20px);
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    -ms-transform: translateZ(20px);
    -o-transform: translateZ(20px);
}

.card-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.card-text p {
    color: #000;
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    margin-top: 0px;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
    color: #000;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(255, 7, 110);
}

.card-stats .stat {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.card-stats .border {
    border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87);
}

.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}

.card-stats .value sup {
    font-size: 12px;
}

.card-stats .type {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-farid:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}


/*---------------Angel----------------------------------------*/

.angel .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.angel .contenedor .card {
    width: 100%;
    height: 395px;
    position: relative;
    perspective: 1000px;
}

.angel .contenedor .card .sides {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.angel .left-side {
    position: absolute;
    top: 0;
    left: 0;
    background-color: antiquewhite;
    width: 50%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(https://st.depositphotos.com/1795881/1409/i/950/depositphotos_14099763-stock-photo-black-diamond-facet-background.jpg) no-repeat;
    background: cover;
    background-position-x: 0;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.angel .right-side {
    position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
    width: 50%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(https://st.depositphotos.com/1795881/1409/i/950/depositphotos_14099763-stock-photo-black-diamond-facet-background.jpg) no-repeat;
    background: cover;
    background-position-x: -180px;
    transform: rotateY(0);
    transform-origin: right;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
}

.angel .back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(https://conceptodefinicion.de/wp-content/uploads/2020/10/color.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: brown;
    z-index: -1;
    box-shadow: 40px 40px 80px #000;
    transform: translateZ(-300px);
    transition: z-index 0.4s step-end, transform 1s box-shadow 1s;
    -webkit-transition: z-index 0.4s step-end, transform 1s;
    -moz-transition: z-index 0.4s step-end, transform 1s;
    -ms-transition: z-index 0.4s step-end, transform 1s;
    -o-transition: z-index 0.4s step-end, transform 1s;
    -webkit-transform: translateZ(-300px);
    -moz-transform: translateZ(-300px);
    -ms-transform: translateZ(-300px);
    -o-transform: translateZ(-300px);
}

.angel .card:hover .left-side {
    transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
}

.angel .card:hover .right-side {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

.angel .card:hover .back-side {
    transform: translateZ(0);
    box-shadow: 50px 50px 100px #000;
    z-index: 1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.angel .name,
.name2 {
    color: #fff;
    font-size: 16px;
    margin: 20px 2px;
}

.angel .left-side .name {
    text-align: right;
}

.angel .right-side .name2 {
    text-align: left;
}

.angel .texto {
    color: #fff;
    font-size: 10px;
    background-color: rgba(0, 0, 0, .4);
    width: 90%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}


/* CAM */

.cam {
    background-color: transparent !important;
    color: slateblue !important;
}


/* Card Juan Diego Rivero */

#Juan_R {
    position: relative;
    display: flex;
    flex-direction: column;
    border-style: none;
    justify-content: center;
    background: #0c002b;
    overflow: hidden;
}

#Juan_R h2 {
    z-index: 1;
    font-weight: bold;
    z-index: 2;
    opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#Juan_R p {
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#Juan_R h3 {
    /* position: absolute; */
    bottom: 1%;
    z-index: 1;
    font-weight: bold;
    z-index: 2;
    opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#Juan_R:hover p,
#Juan_R:hover h3,
#Juan_R:hover h2 {
    opacity: 1;
}

#Juan_R::before {
    content: " ";
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
}

#Juan_R .card span {
    transition: 0.5s;
}

#Juan_R .card span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #1779ff);
    animation: animate1 2s linear infinite;
    -webkit-animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}

#Juan_R .card span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #1779ff);
    animation: animate2 2s linear infinite;
    -webkit-animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
}

#Juan_R .card span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #1779ff);
    animation: animate3 2s linear infinite;
    -webkit-animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}

#Juan_R .card span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #1779ff);
    animation: animate4 1s linear infinite;
    -webkit-animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
}


/* Gabi: robado de Josu. */

section .flipcardTwo-container {
    perspective: 1000px;
    border: none;
}

section .flipcardTwo {
    position: relative;
    background-color: black;
    background-position: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

section .flipcardTwo-container:hover .flipcardTwo {
    transform: rotateY(180deg);
}

.flipcardTwo h2,
.flipcardTwo p {
    font-weight: bolder;
    margin: 0 1%;
}

.flipcardTwo>div:nth-child(1),
.flipcardTwo>div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipcardTwo>div:nth-child(1) {
    width: 100%;
    height: 100%;
}

.flipcardTwo>div:nth-child(1)>div,
.flipcardTwo>div:nth-child(2)>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flipcardTwo>div:nth-child(1)>div h2 {
    background-color: rgba(0, 0, 0, 0.45);
    padding: 0.5em;
    border-radius: 0.25rem;
}

.flipcardTwo>div:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://c.tenor.com/XiDVMm0Bcd4AAAAC/eat-noodle-funny.gif);
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.45); */
}

.flipcardTwo>div:nth-child(2)>div h2 {
    margin-bottom: 2rem;
    z-index: 5;
}

.flipcardTwo>div:nth-child(2)>div p:nth-last-child(2) {
    z-index: 5;
}

.flipcardTwo>div:nth-child(2)>div p:nth-last-child(1) {
    z-index: 5;
    color: rgb(0, 217, 255);
    font-size: 23px;
    position: relative;
    bottom: 9rem;
}

.flipcardTwo>div:nth-child(2) {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}


/* CARD NANI  */

#Nani {
    background-image: url('./img/fondoNani.jpg');
    background-size: cover;
    background-position-x: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Nani h2 {
    font-family: 'Gloria Hallelujah';
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(48 85 112);
    line-height: 2.5rem;
    width: 80%;
}

#Nani h2:hover::after {
    content: "Por la buena onda y las ganas de incentivarnos a seguir con Front!";
    font-size: 1rem;
    line-height: 0.1rem;
}

#Nani h2:hover::before {
    content: "Nani.";
    font-size: 1rem;
    line-height: 0.1rem;
    position: absolute;
    bottom: -2rem;
    right: 50%;
    transform: translate(50%, 0);
}


/* CARD MARIA LAURA  */

.perspective {
    perspective: 1200px;
    -webkit-perspective: 1200px;
}

.tardis-wrap {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: translateZ(-300px);
    -webkit-transform: translateZ(-300px);
}

.tardis {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform: rotateX(-20deg) rotateY(-30deg);
    -webkit-transform: rotateX(-20deg) rotateY(-30deg);
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotateX(-20deg) rotateY(0deg);
    }
    to {
        transform: rotateX(-20deg) rotateY(360deg);
    }
}

.tardis .side {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background-color: #c21dba;
    box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 1;
}

.side:nth-of-type(1) {
    transform: translateZ(100px);
    -webkit-transform: translateZ(100px);
}

.side:nth-of-type(2) {
    transform: rotateY(90deg) translateZ(100px);
    -webkit-transform: rotateY(90deg) translateZ(100px);
}

.side:nth-of-type(3) {
    transform: rotateY(180deg) translateZ(100px);
    -webkit-transform: rotateY(180deg) translateZ(100px);
}

.side:nth-of-type(4) {
    transform: rotateY(-90deg) translateZ(100px);
    -webkit-transform: rotateY(-90deg) translateZ(100px);
}

.tardis .roof {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #c21dba;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-90deg) translateZ(-100px);
    -webkit-transform: rotateX(-90deg) translateZ(-100px);
    z-index: 2;
}

.tenor-gif-embed {
    height: 100%;
}

.textlaura {
    font-family: sans-serif;
    color: seashell;
    font-size: 2rem;
    line-height: 6rem;
    text-align: center;
}


/* ACA COMIENZA LA CARD DEL SIGUIENTE:  */


/* --------------------------------------------------------------------- */


/* FOOTER  */


/* --------------------------------------------------------------------- */


/*relleno*/
article.rellenar {
    background: var(--bgn1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s;
    padding: 20px;
    overflow: hidden;
}
article.rellenar:hover {
    background: var(--bgn);
}
article.rellenar:hover > * {
    transition: all 0.5s;
    transform: rotate(1turn);
}
article.rellenar h2 {
    margin-top: 8px;
    text-transform: uppercase;
}
article.rellenar p {
    margin-top: 8px;
}


footer {
    background-color: #ff0000;
    color: #706e6e;
    font-weight: bold;
}

h2 {
    font-weight: 300;
}


/* unos media queries boludos pq me molestaba sino JA ~ cam*/

@media (max-width: 768px) {
    .container article {
        width: 25%;
    }
}

@media (max-width: 480px) {
    .container article {
        width: 100%;
    }
}